name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.2'
          - '8.3'
          - '8.4'
          - '8.5'
    name: "Unit tests (PHP ${{ matrix.php }})"
    steps:
      - uses: actions/checkout@v5

      - uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          tools: composer
          coverage: xdebug

      - run: composer install

      - run: vendor/bin/phpunit --coverage-clover=coverage.xml --coverage-filter=src tests/

      - uses: coverallsapp/github-action@v2
        with:
          files: coverage.xml
          flag-name: php-${{ matrix.php }}
          parallel: true

  code-coverage:
    name: Code coverage
    needs: unit-tests
    runs-on: ubuntu-latest

    steps:
      - uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
